// Created (Adam Prater 12/1/2016): Javascript for Show.
$('tr#contact-<%= @contact.id %>').remove();
if (($('tr').length) == 1) {
  $('#t_header').remove();
  console.info(document.title);
  var output = '<p>There are currently no entries</p>';
  if (document.title == "Search Results | H2O Contact Manager") {
    output = '<p>No matches</p>'
  }
  $('body > div.container > h1').after(output);
}
